@model MvcWave.Models.RoadK

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RoadK</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.min)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.min)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.max)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.max)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.humanRelation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.humanRelation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.raw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.raw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.optimalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.optimalScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accurateRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accurateRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.realMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.realMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.realMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.realMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comments)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
